

.container 
{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    top:100px;
    width:300px;
    border:2px solid #888;
    padding:20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container a
{
    text-decoration: none;
    padding:10px 20px;
    border-radius: 5px;
    background:blue;
    text-align: center;
    color:#fff;
    margin-bottom: 30px;
}

.container a.product
{
    background:green;
}

.container a.contact 
{
    background:black;
}

.container a.active 
{
    border:5px solid #888;
}


